<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1>Our Web Page</h1>

<nav>
    <ul>
        <li><a href = "/articles">Home</a></li>
        <li><%= link_to 'New article', new_article_path %></li>
        <li><a>Old</a></li>
    </ul>
<nav/>

<div class = "description">
    <p>Welcome to our blog</p>
    <p>Select one of the blocks below to with some questions</p>
</div>


<div class = "container">
    <% @articles.each do |article| %>
    <div class = "box">
        <div class = "icon"></div>
        <div class = "content">
            <h3>Search</h3>
            <p>THIS IS IJDSFJ JSF:L JDS:LFJ DS:JF LD:J SD JDSLF</p>
            <%= article.title %>
            <%= link_to 'Show', article_path(article) %>
        </div>
    </div>
    <% end %>
</div>

 <footer class = "copyright">
   <p>&copy; ITCS-3155 Group 10</p>
 </footer>
