<div class="login-container">
  <div class="login">
    <h1>Login to App</h1>
    <form>
      <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p>
      
      <button class="submit"><%= link_to 'Login', controller: 'ideas' %></button>
      <button class ="submit"><%= link_to 'Enter as Guest', controller: 'ideas' %></button>
    </form>
  </div>
 
  <div class="login-help">
    <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
  </div>
</div>