// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//apply to all pages
*{
    margin: 0;
    padding: 0;
}


//Index.html.erb css

//index landing page

.index-body{
    //  margin: 0;
    //  padding: 0;
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  min-height: 100vh;
     background: #060c21;
}

.listing{
    text-align: center;
    margin-top: 10px;
    // font-family: "Brush Script MT";
    font-family: "Impact";
    text-decoration: underline;
     background: -webkit-linear-gradient(#89ff00,#00bcd4);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.description{
    font-size : 20px;
    padding: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.description{
    font-size: 20px;
    padding: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(#89ff00,#00bcd4);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}




//container box for content css

.container{
     
     margin: 0;
     margin-left: 50px;
     position: relative;
     width: 90%;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
     grid-template-rows: auto;
     grid-gap: 0 40px;
}
 .container .box{
     position: relative;
     height: 400px;
     background: #060c21;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #000;
     margin-top: 10px;
}
 .container .box:before{
     content: '';
     position: absolute;
     top: -2px;
     bottom: -2px;
     left: -2px;
     right: -2px;
     background: #fff;
     transform: skew(2deg, 2deg);
     z-index: -1;
}
 .container .box:nth-child(1n+0):before{
     background: linear-gradient(315deg,#ff0057,#e64a19);
}
 .container .box:nth-child(2n+0):before{
     background: linear-gradient(315deg,#89ff00,#00bcd4);
}
 .container .box:nth-child(3n+0):before{
     background: linear-gradient(315deg,#e91e63,#5d02ff);
}
 .container .box:nth-child(4n+0):before{
     background: linear-gradient(315deg,#ff0000,#ffc107);
}

 
 .container .box:after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 50%;
     height: 100%;
     background: rgba(255,255,255,0.05);
     pointer-events: none;
}
 .content{
     position: relative;
     padding: 20px;
     transform: translateY(40px) 
}
 .content h2{
     position: absolute;
     top: -60px;
     right: 20px;
     margin: 0;
     padding: 0;
     font-size: 10em;
     color: rgba(255,255,255,.05);
     transition: 0.5s 
}
 .box:hover .content h2{
     top: -140px;
     user-select: none;
}
 .box .content h3{
     margin: 0 0 10px;
     padding: 0;
     font-size: 24px;
     font-weight: 500;
     color: #fff;
     user-select: none;
}
 .box .content p{
     margin: 0;
     padding: 0;
     color: #fff;
     font-size: 16px;
     word-wrap: break-word;
     max-height: 100px;
     overflow: auto;
     user-select: none;
}

 .box .content a{
     position: relative;
     margin: 20px 0 0;
     padding: 10px 20px;
     text-decoration: none;
     border: 1px solid #fff;
     display: inline-block;
     color: #fff;
     transition: 0.5s;
     transform: translateY(-40px);
     opacity: 0;
     visibility: hidden;
}
 .box:hover .content a{
     transform: translateY(0);
     opacity: 1;
     visibility: visible;
}
 .box .content a:hover{
     color: #000;
     background: #fff;
}

#containercategories{
    color: #89ff00;
}

#containertext{
    overflow: auto;
}



//Logo 

.loader{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    //animation: animate 0.5s linear infinite;

}

@keyframes animate{
    
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.loader span{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: animate 0.5s linear infinite;
}

.loader span:nth-child(1){
    filter: blur(5px);
}

.loader span:nth-child(2){
    filter: blur(10px);

}

.loader span:nth-child(3){
    filter: blur(25px);

}

.loader span:nth-child(4){
    filter: blur(50px);
}

.loader:after{
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: #240229;
    border-radius: 50%;   
}

#loaderp{
    position: absolute;
    top: 33px;
    padding-left: 29px; 
    z-index: 1;
    font-size: 30px;
    // color: #fff;
    font-family: "Impact";
    background: -webkit-linear-gradient(#89ff00,#00bcd4);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}




//navigation bar

.menu{
    position: absolute;
    width: 100%;
    //background: rgba(6,12,33,.5);
    background: #060c21;
    padding: 0 100px;
    top: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

nav{
    position: relative;
    float: right;
    
}

.brand{
    z-index: 4;
    float: left;
    width: 84px;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li
{
    list-style: none;
}

nav ul li a{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 33px 20px;
    text-decoration: none;
    color: rgba(109,234,50,.75);
}

nav ul li a:hover{
    background: #184771;
    color: #fff;

}

nav ul li ul{
    display:block;
    background: rgb(6,12,33); 
    min-width: 250px;
    position: absolute;
    margin-top: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    //opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateY(40px);
}

nav ul li:hover ul{
    visibility: visible;
    transform: translateY(0px);
    z-index: 1;
}

nav ul li ul li a{
    padding: 10px;
}

section{
    position: relative;
    top: 89px;
    width: 100%;
    height: 100vh;
    background: #060c21;
    background-size: cover;
    z-index: 0;
    opacity: .99;
}



//new-form page

.new-body{
//     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	background-size: 400% 400%;
// 	animation: gradientBG 15s ease infinite;
    background: #000;
}

// .new-title{
//     text-align: center;
//     font-size: 43px;
//     font-family: "Brush Script MT";
//      background: -webkit-linear-gradient(#eee, #333);
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
// }

// .new_title_field{
//     text-align: center;
//     font-size: 20px;
//     text-decoration: underline;
//     font-weight: 900;
//      background: -webkit-linear-gradient(#eee, #333);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .new_text_field{
//     text-align: center;
//     font-size: 20px;
//     text-decoration: underline;
//     font-weight: 900;
//      background: -webkit-linear-gradient(#eee, #333);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .new_titlebox > input{
 
//     height: 25px;
//     margin: 0 auto;
//     text-align: left;
//     vertical-align: center;
//     background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
//     animation: gradientBG 15s ease infinite;
//     border-radius: 10px;
// }

// .new_textbox > textarea{
//      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
//     animation: gradientBG 15s ease infinite;
//     border-radius: 10px;
    
// }

// .newdiv1{
//     text-align: center;
// }


//Footer of page

.copyright{
  width:100%;
  text-align: center;
  padding: 50px;
  position: relative;
}





//page scaling


@keyframes scaledown{
    0%{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
    
@keyframes scale{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.3);
    }    
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  * .content{
    width: 80%;
    padding: 0;
  }
  *{
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  *{
    width: 100%;
  }
}




