// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size:32px;
    color:blue;
}

html,body{
    
  background:url("sitebg.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}


.myBlogLink{
  width: 200px;
  height: 200px;
  background:url("sitebg2.jpg") no-repeat;
  display: inline-block;
  color: white;
  line-height: 150px;
  text-align: center;
  left: 40%;
  right: 60%;
  position: absolute;
   
}

a{
  color : white;
  font-weight: bold;
  font-family: "Brush Script MT";
  font-size: 30px;
  
}
